### CodeBlocks ###
*.layout
*.depend
*.bak
*.res
*.tmp
*.wbk
*.o

# generated directories
Vessel/Digitize/
#WSpace/Dev/*.exe
WSpace/Dev/Obj/
Working/Pity/
Руководство/

# Windows shortcuts
*.lnk
#*.exe

# другие рабочие файлы
*.что
